# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db
desktop.ini

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
build/
coverage/

# Android related
**/android/local.properties
**/android/key.properties
**/android/project.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
*.keystore
*.jks

# iOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/*.xcworkspace

# Web related
web/stack_trace_mapper.js

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Environment variables and secrets
.env*
*.secret


# Auto Claude data directory
.auto-claude/
